<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed=!collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a href="#" class="navbar-brand">
                Recipe Book
            </a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resized)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['shopping-list']">Shopping List</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a [routerLink]="['/auth']">Authenticate</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated" (click)="onLogout()">
                    <a style="cursor:pointer;">Logout</a>
                </li>

                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li (click)="onSaveData()">
                            <a style="cursor: pointer;">Save Data</a>
                        </li>
                        <li (click)="onFetchData()">
                            <a style="cursor: pointer;">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>