<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients; let i = index"
                (click)="onEditItem(i)">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </div>
    </div>
</div>